.CodeMirror {
  font-family: "MonoLisa", monospace;
  font-size: 0.8rem;
  padding: 1rem 0;
  height: auto;
}

.mark {
  color: #b4d88c;
}

.emmet-abbreviation-preview {
  display: none !important;
}
